{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}all Artist{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}

       <!-- Music-main-section -->
    <div class="__post_details_media_wrapper mt-[2rem]">
        <div class="__post_details_media_container">
            <button onclick="goBack()" class="my-[1rem] rounded-full py-[6px] px-[18px] text-[#3D5361] text-[13px]">
                <i class="fa-solid fa-circle-arrow-left mr-[0.5rem]"></i>
                Back
            </button>
            <div class="flex justify-between">
                <h2 class="text-[18px] font-bold">Popular Artists</h2>
            </div>

            <div class="flex gap-[20px] all_artist_container">
                <div class="all_artist_wrapper">
                    {% for artist_upload in artist_uploads %}
                        <a href="{% url 'artist-detail' artist_upload.id %}" class="all_artist_wrapper_link">
                           <div class="relative">
                                <div class="all_artist_icon_overlay">
                                    <i class="fa-solid fa-play all_artist_play_icon"></i>
                                </div>
                                <div class="all_artist_grid_container">
                                    <div class="all_artistimg_wrapper">
                                        {% if artist_upload.artist_image %}
                                            <img src="{{ artist_upload.artist_image.url }}" class="all_artist_img" alt="...">
                                        {% endif %}
                                    </div>
                                    <div class="all_artist_content">
                                        <h3 class="all_artist_name">{{ artist_upload.artist }}</h3>
                                        <p class="all_artist_genre">{{ artist_upload.artist_genre }}</p>
                                    </div>
                                </div>
                           </div>
                        </a>    
                    {% endfor %}                 
                </div>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}
{% endblock %}