{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}artist{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    <!-- Music-header -->
    <div class="__post_details_media_wrapper">
        <div class="__post_details_media_container">
            <button onclick="goBack()" class="mb-[1rem] rounded-full py-[6px] px-[18px] text-[#3D5361] text-[13px]">
                <i class="fa-solid fa-circle-arrow-left mr-[0.5rem]"></i>
                Back
            </button>
                <div class="border-b-[1px] border-[#3d5361c4]  w-full flex justify-start items-start">
                    <div class="flex gap-[20px]">
                        <p><a class="uppercase music_links text-nowrap" href="{% url 'music-page' %}">Home</a></p>
                        {% comment %} <p><a class="uppercase music_links" href="">All Songs</a></p> {% endcomment %}
                        <div class="dropdown">
                            <button class="uppercase music_links text-nowrap dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-headphones-simple"></i>
                                My Music
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                        <div class="">
                            {% if artist_uploads.user == user %}
                            <button type="button" class="text-nowrap song_upload_btn text-[13px] rounded-full py-[6px] px-[18px] text-[#fefefefe] bg-[#3D5361] flex items-center mt-[-5px]" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Upload Song
                                <i class="fa-solid fa-music ml-[10px] mt-[3px]"></i>
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Post your song</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {{ song_form|crispy }}
                                                <input type="hidden" name="cover_image" value="cover_image">
                                                <input type="hidden" name="song_form" value="song_form">
                                                <div class="flex gap-[10px] justify-center items-center __delet_btn_wrapper ">
                                                    <button type="button" class="_edit_detail_btn text-[#3D5361] border border-[#3D5361] rounded-full py-[10px] px-[5rem]" data-bs-dismiss="modal">Close</button>
                                                    <input type="submit" value="Upload Song" class="_edit_detail_btn text-[#fefefefe] bg-[#3D5361] rounded-full py-[10px] px-[5rem]">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
               <div class="mt-[1.5rem]">
                    <div class="album_detail_bg">
                        <div class="album_detail_wrapper">
                            <div class="album_detail_img_wrapper">
                                {% if artist_uploads.artist_image %}
                                    <img src="{{ artist_uploads.artist_image.url }}" alt="" class="album_detail_image">
                                {% endif %}
                            </div>
                            <div class="">
                                <p class="album_detail_text "><i class="fa-solid fa-circle-check" style="color: #00c291;"></i> {{ artist_uploads.artist_genre }}</p>
                                <h1 class="album_detail_title text-[8rem] font-bold text-[#fefefefc]">{{ artist_uploads.artist }}</h1>
                                <p class="album_detail_text ">
                                    <img src="{{ artist_uploads.artist_profile.url }}" alt="" class="w-[30px] h-[30px] rounded-full object-cover object-center">
                                    <a href="#!" class="font-bold">{{ artist_uploads.artist_genre }} </a> 
                                    <span>- {{artist_uploads.posted_on|date:"Y"}} - {{ album.songs.count }} songs</span>
                                </p>
                            </div>
                        </div>
                    </div>
                  
               </div>
        </div>
    </div>

    <!-- Music-main-section -->
    <div class="__post_details_media_wrapper mt-[2rem]">
        <div class="__post_details_media_container" >
            <div class="">
                <h2 class="text-[18px] font-bold">Popular Songs</h2>
            </div>
            {% for song in songs %}
            <div class="">
                <a type="button" class="artist_detail_link " data-bs-toggle="modal" data-bs-target="#exampleModal1-{{ song.id }}">
                    <div class="flex gap-[7px]">
                        <div class="artist_img_wrapper">
                            {% if song.cover_image %}
                                <img src="{{ song.cover_image.url }}" alt="song cover image" class="artist_img_detail">                            
                            {% endif %} 
                        </div>
                        <div class="">
                            <p class="song_title">{{ song.title }} - {{ song.genre }}</p>
                        </div>
                    </div>
                </a>   
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1-{{ song.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down modal-lg">
                        <div class="modal-content p-[30px]">                            
                        <div class="float-end close_btn">
                            <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <div class="modal-body play_modal_body">
                                <div class=" play-song-wrapper">
                                    <div class="image_cover_art_wrapper">     
                                        {% if song.artist.artist_profile %}
                                            <img src="{{ song.artist.artist_profile.url }}" alt="artist profile" class="image_cover_art">
                                        {% endif %} 
                                        {% if song.song_file %}
                                            <audio src="{{ song.song_file.url }}" controls class="song_track"></audio>  
                                        {% endif %}                                     
                                    </div>
                                    <div class="">
                                        <h3 class="text-[20px] font-semibold">{{song.artist}} - <span class="text-[#666666]">{{song.artist.artist_genre}}</h3>
                                        <h4 class="text-[20px] font-semibold">{{song.album.title}} - <span class="text-[#666666]">{{song.album.release_date}}</span></h4>
                                        <h4 class="text-[20px] font-semibold">{{ song.title }} - <span class="text-[#666666]">{{ song.genre }}</span></h4>
                                        <p class="text-start mt-[10px] text-[#666665] font-regular">Start listening with a click or hit the Download button to download</p>
                                        <button class="downlod_btn"><a class="download_a" href="{{ song.song_file.url }}" download>Download</a></button>                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% include "partials/footer.html" %}
{% endblock content %}


