{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Home{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    
    <div class="w-full flex flex-col justify-between h-full __home_content">
        <div class="flex gap-[10px] w-[100%] mb-[2rem]">
            <div id="carouselExampleAutoplaying" class="carousel carousel_wrapper slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                <div class="carousel-inner ">
                 {% for blog_post in posts %}   
                    <a href="{% url "blog-postmodel-detail" blog_post.id %}" class="">
                        <div class="carousel-item  carousel_item {% if forloop.first %} active {% endif %}">
                            <div class="carousel_img_wrapper">
                                {% if blog_post.image %} 
                                    <img src="{{blog_post.image.url}}" class="carousel_img"> 
                                {% endif %}
                            </div>
                            <div class="carousel-caption">                                
                                <div class="flex flex-col m-0 p-0 max-w-[650px] w-[100%]">
                                    <h5 class="text-left text-[28px] m-0 p-0">{{ blog_post.title|truncatewords:6 }}</h5>
                                    <p class="text-left m-0 p-0 text-[#fefefe] text-[20px] font-verdana overflow-hidden"><small >{{blog_post.content|truncatewords:14}}</small></p>
                                </div>
                                <div class="flex gap-[10px] mt-[1rem] w-[100%]">
                                    <div class="">
                                        <img src="{{blog_post.author.profilemodel.image.url}}" 
                                        alt="" class="w-[30px] h-[30px] rounded-[50%]">
                                    </div>
                                    <div class="">
                                        <p>{{ blog_post.author }} • <span> {{blog_post.created_on|date:"D, M, Y"}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </a>     
                 {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="__grid_card ">
            {% for article in article_page_obj %}
                    <div class="card text-bg-light ">
                        <div class="card-body">
                            <h5 class="card-title"> {{ article.title }} </h5> 
                            <div class="flex  justify-between items-center">
                                <p class="card-text text-nowrap text-[13px] text-[#3d5361c4] font-semibold">
                                    <i class="fa-solid fa-clock"></i>
                                    <small>{{ article.dated_on|date:"M. d, Y" }}</small>
                                </p>
                                <p class="text-[13px] text-nowrap text-[#3d5361c4] font-semibold">
                                    <i class="fa-solid fa-comments px-[2px]"></i>
                                    {{article.article_comment_count}}
                                     Comments
                                </p>
                            </div>
                            <div class="flex justify-between items-center gap-[10px]">
                                <p class="card-text flex text-nowrap items-center gap-[5px] text-[13px] text-[#444] font-semibold">
                                   <a href="{% url "profile" article.author.username article.author.id  %}" 
                                    class="text-[#3d5361c4]">
                                        <i class="fa-solid fa-user"></i> 
                                        {{ article.author }} 
                                   </a>
                                </p> 
                                <p class="d-inline-block text-truncate"><small class=" text-[12px] px-[8px] py-[3px] font-medium bg-[#3D5361] text-[#fcfcfcfc] rounded-full">{{ article.slug }}</small></p>
                            </div>                           
                            <div class=" flex gap-3">
                                {% if article.image %}
                                    <img src="{{article.image.url}}" class="img-thumbnail w-[100px] object-center object-cover" alt="...">
                                {% endif %}
                                <p class="card-text text-[#3D5361] overflow-hidden"><small >{{article.article_content|truncatewords:14}}</small></p>
                            </div>
                        </div>
                        <div class="px-[1rem] pb-[1rem] flex justify-between items-center">
                            <button class="rounded-full py-[6px] px-[18px] text-[#fefefefe] bg-[#3D5361] text-[13px]">
                               <a href="{% url "blog-post-detail" article.id %}" class="__detail_link">
                                <i class="fa-solid fa-eye mr-[0.5rem]"></i>
                                Detail
                               </a>
                            </button>                               
                            <div class="">
                                {% if article.author == request.user %}
                                    <button>
                                        <a href="{% url "user-dashboard-edit" article.id %}" class="text-[#fefefefe] bg-[#3D5361] rounded-full py-[0.3rem] px-[0.8rem]">
                                            <i class="fa-regular fa-pen-to-square text-[12px]"></i>
                                        </a>
                                    </button>
                                    <button>
                                        <a href="{% url "user-post-delete" article.id %}" class="text-[#fefefefe] bg-rose-500 rounded-full py-[0.3rem] px-[0.8rem]">
                                            <i class="fa-solid fa-trash-can text-[12px]"></i>                                         
                                        </a>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                       
                    </div> 
            {% endfor %}
        </div>
    </div>

      <!-- Pagination for Articles -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if article_page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link bg-[#3D5361] text-[#fefefefe] hover:bg-[#2c3e50]" href="?article_page={{ article_page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link bg-[#3D5361] text-[#fefefefe]">Previous</a>
                </li>
            {% endif %}
            {% for num in article_page_obj.paginator.page_range %}
                {% if article_page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link bg-[#3D5361] text-[#fefefefe] hover:bg-[#2c3e50]" href="?article_page={{ num }}">{{ num }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link bg-[#3D5361] text-[#fefefefe] hover:bg-[#2c3e50]" href="?article_page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if article_page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link text-[#3D5361] bg-[#3D5361] text-[#fefefefe] hover:bg-[#2c3e50]" href="?article_page={{ article_page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link bg-[#3D5361] text-[#fefefefe]">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {% include "partials/footer.html" %}
{% endblock content %}

