{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}News{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    
    <div class="__home_content">
        <div class="flex gap-2 news_page_main">
            <div class="w-[20%] bg-slate-100 h-[60%] __latest_news_wrapper">
                <div class="">
                    <div class="bg-[#cccccc]">
                        <h2 class="p-[5px] text-[15px]">Latest News</h2> 
                    </div>
                    <div class="flex flex-col _new-a">
                        <a href="{% url "home" %}" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Home</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Twi News</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Poll</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Cartoons</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Your In Review</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">News Archive</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Crime & Punishment</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Politics</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Regional</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Health</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Africa</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Religion</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Election 2024</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">Press Release</a>
                        <a href="" class="text-[12px] text-[#222] border-b-[1px] border-slate-300 p-[2px]">News Blogs</a>
                    </div>                   
                </div>
            </div>
            <div class="w-[70%]">
                <div class=" bg-[#3D5361]">
                    <h2 class="p-[5px] text-[#fefefefe] text-[15px]">General News</h2> 
                </div>
                <div class="w-full flex justify-between h-full ">
                    <div class="__dashboard_grid_card">
                        {% for article in articles %}
                            <div class="card text-bg-light ">
                                <div class="card-body">
                                    <h5 class="card-title"> {{ article.title }} </h5> 
                                    <div class="flex  justify-between items-center">
                                        <p class="card-text text-nowrap text-[13px] truncate text-[#444] text-nowrap font-semibold">
                                            <i class="fa-solid fa-clock"></i>
                                            <small>{{article.dated_on}}</small>
                                        </p>
                                        <p class="text-[13px] text-nowrap text-[#444] truncate font-semibold text-nowrap">
                                            <i class="fa-solid fa-comments px-[2px]"></i>
                                            {{article.article_comment_count}}
                                             Comments
                                        </p>
                                    </div>
                                    <div class="flex justify-between items-center gap-[10px]">
                                        <p class="card-text text-nowrap flex items-center gap-[5px] text-[13px] text-[#444] font-semibold"><i class="fa-solid fa-user"></i> {{ article.author }} </p> 
                                        <p class="font-bold text-[12px] d-inline-block text-truncate"><small class="font-medium bg-[#3D5361] text-[#fcfcfcfc] rounded-full px-[8px] py-[3px]">{{ article.slug }}</small></p>
                                    </div>                           
                                    <div class=" flex gap-3">
                                        {% if article.image %}
                                            <img src="{{article.image.url}}" class="img-thumbnail w-[100px]" alt="...">
                                        {% endif %}
                                        <p class="card-text "><small >{{article.article_content|truncatewords:8}}</small></p>
                                    </div>
                                   
                                </div>
                                <div class="px-[1rem] pb-[1rem] flex justify-between items-center">
                                    <button class="rounded-full py-[6px] px-[18px] text-[#fefefefe] bg-[#3D5361] text-[13px]">
                                       <a href="{% url "blog-post-detail" article.id %}" class="__detail_link">
                                        <i class="fa-solid fa-eye mr-[0.5rem]"></i>
                                        Detail
                                       </a>
                                    </button>                               
                                    <div class="">
                                        {% if article.author == request.user %}
                                            <button>
                                                <a href="{% url "user-dashboard-edit" article.id %}" class="text-[#fefefefe] bg-[#3D5361] rounded-full py-[0.3rem] px-[0.8rem]">
                                                    <i class="fa-regular fa-pen-to-square text-[12px]"></i>
                                                </a>
                                            </button>
                                            <button>
                                                <a href="{% url "user-post-delete" article.id %}" class="text-[#fefefefe] bg-rose-500 rounded-full py-[0.3rem] px-[0.8rem]">
                                                    <i class="fa-solid fa-trash-can text-[12px]"></i>                                         
                                                </a>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                               
                            </div> 
                        {% endfor %}                                       
                    </div>
                </div>
               
            </div>
            <div class="w-[30%] ">
                <div class="">
                    <div class=" bg-[#777777]">
                        <h2 class="p-[5px] text-[#fefefefe] text-[15px]">Spotlight</h2>
                    </div>
                    <div class=" bg-[#ffffff]">
                        <div class="flex flex-col">
                            {% for blog_post in posts %}
                                <a href="{% url "blog-postmodel-detail" blog_post.id %}" class="flex link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <div class="card mb-3" style="max-width: 540px;">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                {% if blog_post.image %}
                                                    <img src="{{blog_post.image.url}}" class=" rounded-start w-[100%]  h-[100%] object-cover object-center" alt="...">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body  my-0 py-0">
                                                    <h5 class="card-title mt-[10px] text-[12px] py-0 "> {{ blog_post.title|truncatewords:2 }}</h5>
                                                    <p class="card-text text-[10px] py-0 my-0"><small>{{blog_post.created_on}}</small></p>
                                                    <p class="text-[10px] text-[#444] py-0 my-0 font-semibold">
                                                        <i class="fa-solid fa-comments px-[2px]"></i>
                                                        {{blog_post.post_comment_count}}
                                                         Comments
                                                    </p>
                                                    <div class="mb-[6px]">
                                                        <p class="card-text flex items-center gap-[5px] text-[10px] text-[#444] font-semibold"><i class="fa-solid fa-user"></i> {{ blog_post.author }} </p> 
                                                        {% comment %} <p class="text-[8px] truncate font-bold"><small class="bg-green-400 px-[8px] py-[3px]">{{ blog_post.slug }}</small></p> {% endcomment %}
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}