{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Sports & entertainment{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    
    <div class="container mt-[10rem]">
        <div class=" p-[15px] " >
            <div class="flex justify-between items-center">
                <ul class="flex gap-[20px]">
                    <li><a class="uppercase music_links" href="{% url 'news-page' %}">Home</a></li>
                    <div class="dropdown">
                        <button class="uppercase music_links dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-medal"></i>
                            Category
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div class="">
                        <button type="button" class="song_upload_btn bg-blue-500 text-[13px] flex items-center text-[#fff] py-[5px] px-[15px] rounded-full mb-[15px]" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa-solid fa-circle-plus mr-[10px] mt-[3px]"></i>
                            Sports & Entertaiment News
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create your Artist</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </ul>
                <div class="flex gap-[15px]">
                    <a href="" class=""><i class="fa-brands fa-youtube fa-lg" style='color: #Ff0000'></i></a>
                    <a href="" class=""><i class="fa-brands fa-facebook fa-lg" style='color: #00008B'></i></a>
                    <a href="" class=""><i class="fa-brands fa-twitter fa-lg" ></i></a>
                </div>
            </div>
            <div class="divider"></div>
        </div>          

        <div class="flex items-center gap-[10px]">
            <i class="fa-solid fa-fire-flame-curved fa-lg" style="color: #f5c517;"></i>
            <h5>Latest News on Sports</h5>
        </div>
        <div class="flex gap-[10px] w-[100%]">
            <div id="carouselExampleAutoplaying" class="carousel carousel_wrapper slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                <div class="carousel-inner ">
                 {% for post in posts %}   
                    <a href="{% url 'sport-detail' post.id %}" class="">
                        <div class="carousel-item  carousel_item {% if forloop.first %} active {% endif %}">
                            <div class="carousel_img_wrapper">
                                {% if post.image %} 
                                    <img src="{{post.image.url}}" class="carousel_img"> 
                                {% endif %}
                                <div class="play">
                                    <i class="fa-solid fa-play fa-lg play_icon ml-[1.2rem] mt-[1.5rem]" style="color: #Ff0000;"></i>
                                </div>                          
                            </div>
                            <div class="carousel-caption">                                
                                <div class="flex gap-[10px] w-[100%]">
                                    <div class="">
                                        <img src="{{post.author.profilemodel.image.url}}" 
                                        alt="" class="w-[30px] h-[30px] rounded-[50%]">
                                    </div>
                                    <div class="">
                                        <p>{{post.user.author}} • <span> {{post.dated_on}}</span></p>
                                    </div>
                                </div>
                                <div class="flex">
                                    <h5 class="text-left">{{post.title}}</h5>
                                </div>
                            </div>
                        </div> 
                    </a>     
                 {% endfor %}
                                
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="bg-[#fcfcfc] w-[40%] rounded-[10px] p-[10px] video_card_wrapper">
                <div class=" w-[200px] h-[180px] rounded-[10px] shadow">
                   <div class="">
                        <video width="100%" height="80px" src="" class="rounded-t-[15px]" controls></video>                        
                   </div>
                   <div class="mt-[0.5rem] p-[5px]">
                        <div class="flex gap-[10px] w-[100%]">
                            <div class="">
                                <img src="{% static 'images/default.png' %}" 
                                alt="" class="w-[20px] h-[20px] rounded">
                            </div>
                            <div class="">
                                <p class="text-[12px]">First • <span> 1d</span></p>
                            </div>
                        </div>
                        <div class="mt-[-0.5rem]">
                            <h5 class="text-[16px] font-normal text-truncate">5 Signs your Child Is Intelligent</h5>
                        </div>
                   </div>
                </div>
                <div class=" w-[200px] h-[180px] rounded-[10px] shadow">
                   <div class="">
                        <video width="100%" height="80px" src="" class="rounded-t-[15px]" controls></video>                        
                   </div>
                   <div class="mt-[0.5rem] p-[5px]">
                        <div class="flex gap-[10px] w-[100%]">
                            <div class="">
                                <img src="{% static 'images/default.png' %}" 
                                alt="" class="w-[20px] h-[20px] rounded">
                            </div>
                            <div class="">
                                <p class="text-[12px]">{{posts.dated_on}} • <span> {{posts.dated_on}}</span></p>
                            </div>
                        </div>
                        <div class="mt-[-0.5rem]">
                            <h5 class="text-[16px] font-normal text-truncate">{{posts.title}}</h5>
                        </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="mt-[2rem]">
            <div class="__grid_card container bg-slate-100 p-[10px]">
                {% for article in articles %}
                    <a href="{% url "blog-post-detail" article.id %}" class="flex link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <div class="card text-bg-light ">
                            <div class="card-body">
                                <h5 class="card-title"> {{ article.title }} </h5> 
                                <div class="flex  justify-between items-center">
                                    <p class="card-text text-[13px] text-[#444] font-semibold"><small>{{article.dated_on}}</small></p>
                                    <p class="text-[13px] text-[#444] font-semibold">
                                        <i class="fa-solid fa-comments px-[2px]"></i>
                                        {{article.article_comment_count}}
                                         Comments
                                    </p>
                                </div>
                                <div class="flex justify-between items-center gap-[10px]">
                                    <p class="card-text flex items-center gap-[5px] text-[13px] text-[#444] font-semibold"><i class="fa-solid fa-user"></i> {{ article.author }} </p> 
                                    <p class=" "><small class="bg-green-400 px-[8px] py-[3px]">{{ article.slug }}</small></p>
                                </div>                           
                                <div class=" flex gap-3">
                                    {% if article.image %}
                                        <img src="{{article.image.url}}" class="img-thumbnail w-[100px]" alt="...">
                                    {% endif %}
                                    <p class="card-text "><small >{{article.article_content|truncatewords:8}}</small></p>
                                </div>
                               
                            </div>
                           
                        </div> 
                    </a>                         
                {% endfor %}
    
                {% for blog_post in posts %}
                    <a href="{% url "blog-postmodel-detail" blog_post.id %}" class="flex link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        <div class="card text-bg-light ">
                            <div class="card-body">
                                <h5 class="card-title"> {{ blog_post.title }} </h5> 
                                <div class="flex  justify-between items-center">
                                    <p class="card-text text-[13px] text-[#444] font-semibold"><small>{{blog_post.created_on}}</small></p>
                                    <p class="text-[13px] text-[#444] font-semibold">
                                        <i class="fa-solid fa-comments px-[2px]"></i>
                                        {{blog_post.post_comment_count}}
                                        Comments
                                    </p>
                                </div>
                                <div class="flex justify-between items-center gap-[10px]">
                                    <p class="card-text flex items-center gap-[5px] text-[13px] text-[#444] font-semibold"><i class="fa-solid fa-user"></i> {{ blog_post.author }} </p> 
                                    <p class=" "><small class="bg-green-400 px-[8px] py-[3px]">{{ blog_post.slug }}</small></p>
                                </div>                           
                                <div class=" flex gap-3">
                                    {% if blog_post.image %}
                                        <img src="{{blog_post.image.url}}" class="img-thumbnail w-[100px]" alt="...">
                                    {% endif %}
                                    <p class="card-text "><small >{{blog_post.content|truncatewords:8}}</small></p>
                                </div>                           
                            </div>                       
                        </div> 
                    </a>       
                {% endfor %}
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% include "partials/footer.html" %}
{% endblock content %}