*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#staticBackdrop1 {
    display: none;
    z-index: 1000;
}
#staticBackdrop1.account {
    display: block;
}
#staticBackdrop2 {
    display: none;
    z-index: 1000;
}
#staticBackdrop2.account2 {
    display: block;
}
#postModal {
    transition: opacity 0.3s ease;
    z-index: 99999;
}
.hidden {
    display: none !important;
}
.main-nav {
    display: block;
}
@media screen and (max-width:700px) {
    .main-nav {
        display: none;
    }
}
.news-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    gap: 1rem;
}
.dash-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 1rem;
}
.item-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px, 1fr));
    gap: 1rem;
}
.music-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 1rem;
}
.album_detail_bg{
    background: linear-gradient(rgb(61, 83, 97),rgb(82, 24, 24));
    width: 100%;
    height: 350px;
    /* border-radius: 10px; */
}
.songHiddenDropDown {
    display: none !important;
}
#musicDropDown {
    z-index: 50;
}
#addSongDropdown {
    z-index: 1000;
}
.song-dropdown {
    position: relative;
    z-index: 40;
}

.change .m_bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.change .m_bar:nth-child(2) {
    opacity: 0;
}
.change .m_bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
.list_t .nav_v.showing{
    height: 500px;
    background: #3D5361;
    margin-top: 0;
    opacity: 1;
    transition: height 200ms ease-in-out, 
                background 200ms ease-in-out, 
                opacity 500ms ease;
   }

.list_t .nav_v li{
    display: none;
    opacity: 0;
    transition: opacity 500ms ease,
                display 300ms ease;
}
.list_t .nav_v li:last-child{
    border-bottom: none;
}
.list_t .nav_v.showing li{
    display: block;
    opacity: 1;
    transition: opacity 500ms ease,
                display 300ms ease;
}
.list_t .nav_v{
    margin-top: -150px;
    background: none;
    position: absolute;
    width: 100%;
    padding: 2rem 2rem;
    top: 10px;
    height: 0;
    opacity: 0;
}


/* -----------------------------------------------------------------------------------------------
                                                                                    PWA-MOBILE-VIEW 
-------------------------------------------------------------------------------------------------*/
.mobile-nav-wrapper{
    display: none;
}
.mobile-footer-wrapper{
    display: none;
}
@media screen and (max-width:414px) {
   .nav-web-view{
        display: none;
   }
   .mobile-form-wrapper{
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        width: 100%;
   }
   .mobile-input-search.search-input{
    display: flex;
   }
   .mobile-input-search{
        display: none;
        gap: 5px;
        align-items: center;
   }
   .mobile-input-search input{
        width: 100%;
        border: 1px solid #3b536156;
        border-radius: 25px;
        padding: 4px 10px;
        background: #fefefe;
        outline: none;
   }
   
   .mobile-nav-wrapper{
        display: block;
        position: fixed;
        background: #fefefe;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999999;
        padding: 0 1rem;
   }
   .mobile-nav-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
   }
   .mobile-footer-wrapper{
        display: block;
        position: fixed;
        background: #fefefe;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999999;
        padding: 0.6rem 1rem;
        padding-bottom: 1.5rem;
   }
   .mobile-footer-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
   }
    .mobile-list-items{
        position: absolute;
        left: 0;
        bottom: 75px;
        right: 0;
        width: 100%;
        margin-bottom: -15rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 1px solid #3b53612a;
        background: #fefefe;
   }
   .mobile-list-items.mobile-list-active{
        margin-bottom: 0rem;
        transition: margin-bottom 200ms ease;
   }
   .mobile-search-wrapper{
        display: flex;
        gap: 10px;
        align-items: center;
   }
   .footer{
        display: none;
   }
   .mobile-padding{
        padding: 0 0.5rem;
   }
   .mobile-main{
        margin-top: 50px;
   }
   .__grid_card{
        padding-bottom: 50px;
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    .ads_container{
        margin-bottom: 100px;
    }
    .mobile-back-btn{
        display: none;
    }
    .mobile-ads-container{
        margin-bottom: 100px;
    }
    .mobile-product-text{
        display: none;
    }
    .mobile-profile{
        margin-top: 50px;
    }
    .mobile-img-profile{
        width: 100px;
        height: 100px;
    }
    .mobile-img-profile .mobile-img-image{
        width: 100px;
        height: 100px;
    }
    .mobile-profile-modal{
        padding-bottom: 50px;
    }
    .space_buttom{
        padding-bottom: 80px;
    }
    .spolight_mobile{
        display: none;
    }
    .pagination{
        display: none;
    }
    .mobile-album-song{
        padding: 4rem 0;
    }
    .mobile-song-modal{
        padding: 4rem 0rem;
    }
    .album_detail_img_wrapper{
        width: 250px;
        height: 180px;
        border-radius: 10px;
        transition: width 0.5s ease,
                    height 0.5s ease;
    }
 
}