*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f7f7f7;
    text-decoration: none;
}
/* ------------------------------------------------
                        Mobile
---------------------------------------------------*/
.menu_toggle{
    justify-items: end;
    align-items: end;
    flex-direction: column;
    display: none;
    cursor: pointer;
    z-index: 9999;
    width: 30px;
    margin: auto 0;
}
.menu_toggle .m_bar{
    width: 28px;
    height: 2.5px;
    background-color: #3D5361;
    margin: 2.5px 0;
    transition: 0.4s;
}
.list_t{
    display: none;
    position: relative;
}
.nav_v{
    list-style: none;
    transition: height 0.5s ease-out;
    z-index: 999;
}
.mobil_search_wrapper{
    display: none;
    gap: 20px;
    align-items: center;
}


@media screen and (max-width:1000px) {
    .mobil_search_wrapper{
        display: flex;
    }
    ._form_search{
        /* width: 40vw; */
        transition: width 300ms ease;
    }
    
    .menu_toggle{
        display: flex;
    }
    ._nav_container .__nav_links_ul{
        display: none;
    }
    
    .change .m_bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .change .m_bar:nth-child(2) {
        opacity: 0;
    }
    .change .m_bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .list_t{
        display: block;
    }
    .list_t .nav_v.showing{
        height: 500px;
        opacity: 1;
        transition: height 300ms ease-in-out, 
                    opacity 300ms ease;
       }
    .list_t .nav_v li{
        /* margin: 1.8rem 0; */
        display: none;
    }
    .list_t .nav_v li:last-child{
        border-bottom: none;
    }
    .list_t .nav_v.showing li{
        display: block;
    }
    .list_t .nav_v{
        background: #3D5361;
        position: absolute;
        width: 100%;
        padding: 2rem 2rem;
        top: 10px;
        height: 0;
        opacity: 0;
    }
    .list_t .nav_v li{
        width: 100%;
        border-bottom: 1px solid #62879e4b;
        padding: 1.2rem 1rem;
        cursor: pointer;
    }
    .list_t .nav_v li:hover{
        background: #6a7f8d28;
    }
    .list_t .nav_v li .navv-link{
        color: #ffffff;
        text-decoration: none;
        font-size: 15px;
        
    }
    .search-wrap{
        display: none;
    }
}

/* ------------------------------------------------
                        nav-section 
---------------------------------------------------*/

.nav-container{
    background: #ffffff;
    width: 100%;
    background-position: center;
    background-size: contain;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
._nav_container{
    width: 80%;
    margin: auto;
    /* z-index: 9999; */
}
main{
    margin-top: 200px;
}
.__home_content{
    /* margin-top: 100px; */
    width: 80%;
    margin: auto;
}


@media screen and (max-width:1380px) {
  
    .__post_detail_content{
        margin-top: 2rem;
    }
    
}


/* ----------------------------------
            home-styling
------------------------------------- */

.__form_container_bg{
    background-position: center;
    background-size: contain;
    width: 100%;
    background-blend-mode: multiply;
}

.__nav-links ul li .__nav_text{
    color: #fff;
}
.__grid_card{
    padding-bottom: 50px;
    background-position: center;
    background-size: contain;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
 .__post_card{
    height: 300px;
 }
 .__dashboard_user{
    margin-top: 6rem;
 }

/* ------------------------------------------
                Dashboard-Grid-Section
--------------------------------------------- */
.__dashboard_grid_card{
    display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two equal columns */
      gap: 20px;
}

/* ------------------------------------------
                nav-link-a-styling
--------------------------------------------- */

.__nav_text_style{
    text-decoration: none;
    transition: all 0.5ms;
    text-wrap: nowrap;
}
.__card-main-absolute{
    position: absolute;
    bottom: 25px;
}
/* end-home-styling */

.img-box{
    background-image: linear-gradient(#00AAFFa1,#00aaffa1), url(../images/bg.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* -------------------------------------------------
                    register
---------------------------------------------------- */
.form{
    border-radius: 10px;
    margin: 0 50px;
}
.__login-form{
    box-shadow: none;
}
.input-field{
    margin: 20px 0;
}
.register-wrap{
    width: 60%;
    margin: auto;
}
.__form-text{
    padding: 50px 40px;
}


/* ----------------------------------------------------
                        sign-in
-------------------------------------------------------- */
.__login{
    width: 50%;
    margin: auto;
}
.login-form{
    margin-top: 120px;
    transition: width 300ms ease;
}
.__sign-bg{
    background-image: linear-gradient(#00AAFFa1,#00aaffa1), url(../images/bg1.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* collapse-body */
.collapse-body{
    display: none;
}
.active-collapse{
    display: block;
}
._new-a a{
    text-decoration: none;
    padding-left: 10px;
}

@media screen and (max-width:1500px) {
    .register-wrap{
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width:1400px) {
    .register-wrap{
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width:1200px) {
    .register-wrap{
        width: 90%;
        margin: auto;
    }
    .__nav{
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width:1000px) {
    .__home_content{
       width: 100%;
       padding:0 15px;
       transition: width 300ms ease;
    }
    ._nav_container{
        width: 100%;
        transition: width 300ms ease;
    }
    .register-wrap{
        flex-wrap: wrap;
    }
    .img-box{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .register-wrap .content2{
        /* border-top-left-radius: 0px; */
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
    .img-box .__copyright{
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .links{
        display: none;
    }
    .__btns{
        display: none;
    }
    
    .__profile-container{
        width: 95%;
        margin: auto;
    }
    .login-form{
        margin-top: 120px;
        width: 500px;
        transition: width 300ms ease;
    }
    .__post_edit_wrapper .__post_edit_container{
        width: 100%;
        padding: 0 30px;
    }
    .__post_details_media_wrapper .__post_details_media_container{
        width: 100%;
        padding: 0 30px;
        transition: width 300ms ease;
        color: #3d5361;
    }

}
@media screen and (max-width:900px) {
    .content2{
        padding: 0 10px;
    }
    .login-form{
        margin-top: 120px;
        width: 500px;
        transition: width 300ms ease;
    }
  

    ._nav_container{
        width: 100%;
    }
   
}

@media screen and (max-width:700px) {
    .content2{
        padding: 0 10px;
    }
    .form{
        margin: 0 10px;
    }
    .login-form{
        width: 500px;
        transition: width 300ms ease;
    }
    /* .__home_content{
        margin-top: 11rem;
    } */
   
    .__post_detail_content{
        margin-top: 8rem;
    }
    .__dashboard_grid_card {
        grid-template-columns: 1fr; /* Switch to one column on smaller screens */
        /* margin-top: 20px */
      }
      ._form_search{
        /* width: 300px; */
        transition: width 300ms ease;
    }
    
}

@media screen and (max-width:500px) {
    .__account_comment_slug{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 5px;
    }
  
    
    .login-form{
        width: 95%;
        transition: width 300ms ease;
    }
    ._edit_detail_btn{
        width: 100%;
        transition: width 0.5s ease;
    }
    .__delet_btn_wrapper{
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* ----------------------------------------------------------
                        Post-Detail
------------------------------------------------------------- */
.__post_details_media_container{
    width: 80%;
    margin: auto;
}
._detail_account_section{
   width: 100%;
}
.__detail_link{
    text-decoration: none;
    color: #f7f7f7;
}
.__post_edit_container{
    width: 80%;
    margin: auto;
}
.btn_link_cancel{
    text-decoration: none;
    text-transform: capitalize;
}
/* ----------------------------------------------------------
                        Music-section
------------------------------------------------------------- */
.__music_container{
    margin-top: 10rem;
}
.music_links{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #666665;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: hsla(60, 0%, 40%, 0.199);
}
.text_decoration{
    text-decoration: none;
    color: #666665;
    font-weight: bold;
    border-radius: 35px;
    border: 1px solid hsla(0, 0%, 40%, 0.377);
    font-size: 14px;
    padding: 8px 18px;
}
/* --------------------------------------------------
image-section 
-----------------------------------------------------*/

.artist_main_wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}
.artist_wrapper_link{
    position: relative;
    text-decoration: none;
    padding: 10px;
    transition: background 0.5s ease;
    border-radius: 20px;
}
.icon_overlay{
    position: absolute;
    bottom: 40%;
    right: 20%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: greenyellow;
    transition: bottom 0.5s ease;
    opacity: 0;
}
.play_icon{
    color: #000000;
}
.artist_wrapper_link:hover{
    background: #dfd8d873;
}
.artist_wrapper_link:hover .icon_overlay{
    bottom: 45%;
    display: flex;
    opacity: 1;
    transition: opacity 200ms ease,
                bottom 300ms ease,
                display 300ms ease;
}
.img_container{
    width: 150px;
    height: 150px;
}
.artist_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #66666c63;
    object-fit: cover;
    object-position: center;
}
.artist_name .name{
    font-size: 16px;
    font-weight: bold;
    color: #666665;
}

/* artist-detail */
.parent_overlay{
    position: relative;
}
.cover_art{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;    
}
.img_overlay{
    position: relative;
}
.img_overlay::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.884));
}
.overlay_text{
    position: absolute;
    bottom: 0;
    padding: 20px;
}
.big_artist_name{
    color: #FFFFFF;
    font-size: 4rem;  
}
.genre_text{
    font-size: 1rem;
    color: #ffffff; 
    font-weight: bold;
}
.artist_img_wrapper{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
.artist_img_detail{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.song_title{
    font-size: 18px;
    font-weight: bold;
}
.artist_detail_link{
    text-decoration: none;
    color: #000000;
    transition: color 0.5s ease;
}
.artist_detail_link:hover{
    color: #0073df;
}

/* modal-audio */
.image_cover_art_wrapper{
    width: 800px;    
    height: 300px;
    border-radius: 15px;
    position: relative;
}
.image_cover_art{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.song_track{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%,-50%);
}
.downlod_btn{
    background: #000000;
    padding: 10px 25px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
    transition: background 0.5s ease;
    border: 1px solid #000000;
}
.downlod_btn:hover {
    background: #FFFFFF;
}
.downlod_btn:hover .download_a{
    color: #000000;
}
.downlod_btn .download_a{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.5s ease;
}
.close_btn{
    display: flex;
    justify-content: end;
    align-items: end;
}
.song_post_btn{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
    margin-top: 3rem;
}

/* ---------------------------------------------------------------------------
                    News-Scetion
------------------------------------------------------------------------------ */
@media screen and (max-width:1000px) {
    .__latest_news_wrapper{
        display: none;
    }
  
}

/* ---------------------------------------------------------------------------
                    Sport & entertainment-carousel_item
------------------------------------------------------------------------------ */
.carousel_wrapper{
   border: 1px solid #a5a5a5;
   width: 60%;
   /* margin: auto; */
   border-radius: 25px;
}
.carousel_item{
    height: 300px;
    border-radius: 25px;
}
.carousel_img{
    display: block;
    width: 100%;
    height: 300px;
    margin: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}
.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.play_icon{
    
}
.carousel_img_wrapper{
    position: relative;
}
.carousel_img_wrapper::after{
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.video_card_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 10px;
}