{% extends "base.html" %}
    {% load static %}
    {% load tailwind_filters %}
    {% block nav %}
        <nav class="nav-web-view p-[0.3rem] md:p-[0px]  w-[100%] bg-[#fefefe] shadow fixed top-[0] z-[100]">
            <div class=" w-full flex items-center justify-between w-[100%] md:w-[80%] m-auto ">
                <div class="flex items-center cursor-pointer">
                    <a href="{% url "home" %}" class="no-underline gap-[0.5rem] flex items-center">
                        <img src="{% static 'images/rpl-logo-icon.svg' %}" height="64px" class="w-[30px] mb-[0.7rem]">
                        <h4 class=" text-[#444444] ">FitBlog</h4>
                    </a>
                </div>
                <div class=" mt-[0.8rem] hidden md:block">
                    <ul class="flex gap-[1.5rem] items-center">
                        <li>
                            <a class="flex items-center gap-[0.3rem] no-underline text-nowrap text-[#3b5361] font-medium" href="{% url "news-page" %}">
                                <i class="fa-regular fa-newspaper"></i>
                                News
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center gap-[0.3rem] no-underline text-nowrap text-[#3b5361] font-medium" href="{% url "business-page" %}">
                                <i class="fa-solid fa-cart-shopping"></i>
                                Market Store
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center gap-[0.3rem] no-underline text-nowrap text-[#3b5361] font-medium" href="{% url "music-page" %}">
                                <i class="fa-solid fa-music"></i>
                                Music
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="flex items-center gap-[20px]">
                    <button type="button" class="capitalize font-bold text-[#3D5361] text-nowrap  text-[13px] flex items-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-plus-circle mr-[5px]"></i>
                         Post
                    </button>
                    <div class="flex gap-[20px] items-center hidden md:block">
                        <form action="" method="get">
                            <div class="flex items-center w-[100%] bg-slate-100 border border-slate-500 px-4 rounded-full">
                                <i class="fa-solid fa-magnifying-glass text-[13px] text-[#3b5361] cursor-pointer"></i>
                                <input type="search" name="search" placeholder="Search FitBlog..." class="w-full  py-[5px] px-[6px] bg-transparent outline-none">
                            </div>
                        </form>
                    </div>
                    <div class="">
                        {% if user.is_authenticated %}
                            <div class="flex items-center ">
                                <div class="flex items-center gap-[10px]">
                                    <div class="flex items-center">
                                        <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" class="flex items-center text-[#3D5361] rounded-full py-[6px] px-[18px] bg-[#ffffff9f] text-[13px] font-semibold hover:text-[#3D5261] no-underline text-nowrap transition-all transition">
                                            {% if user.profilemodel.image %}
                                                <img class=" w-[30px] h-[30px] rounded-[50%] object-cover object-center mr-[10px]" src=" {{ user.profilemodel.image.url }} " alt="Profile Image">
                                            {% else %}
                                                <img class="w-[30px] h-[30px] rounded-[50%] object-cover object-center mr-[10px]" src="{% static "images/default.png" %} " alt="Default Profile Image">
                                            {% endif %}
                                            <small class="font-semibold text-[14px] capitalize text-[#3b5361]"> {{ user.profilemodel.full_name }} </small>
                                        </a>
                                    </div>
                                </div>
                            </div>                    
                        {% else %}
                            <div class="flex items-center gap-[10px] w-full">
                                <a href="{% url "sign_up" %}" class=" rounded-full py-[6px] px-[18px] text-[13px] font-semibold text-[#3D5361] text-nowrap no-underline transition">
                                    <i class="fa-solid fa-right-from-bracket mr-[3px]"></i>
                                    Sign up
                                </a>
                                <a href="{% url "login" %}" class="rounded-full py-[6px] px-[18px] text-[#fefefefe] bg-[#3D5361] text-[13px] font-semibold text-nowrap no-underline transition">
                                    <i class="fa-solid fa-right-from-bracket mr-[3px]"></i>
                                    Login
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% if user.is_authenticated %}
            <div class=" md:hidden flex z-[9999] gap-[20px]">
                <div class="menu_toggle justify-end items-end flex-col w-[30px] my-auto mx-0 md:hidden flex cursor-pointer z-[9999]" id="mobile_menu">
                    <span class="m_bar w-[28px] h-[2.5px] bg-[#3b5361] my-[2.5px] mx-0 transition-all-[0.5s]"></span>
                    <span class="m_bar w-[28px] h-[2.5px] bg-[#3b5361] my-[2.5px] mx-0 transition-all-[0.5s]"></span>
                    <span class="m_bar w-[28px] h-[2.5px] bg-[#3b5361] my-[2.5px] mx-0 transition-all-[0.5s]"></span>
                </div>
                {% if user.is_authenticated %}
                    <div class="flex gap-[20px] items-center ">
                        <form action="" method="get" class=" w-[100%]">
                            <div class="flex items-center w-[100%] bg-slate-100 border border-slate-500 px-4 rounded-full ">
                                <i class="fa-solid fa-magnifying-glass text-[13px] text-[#3b5361] cursor-pointer"></i>
                                <input type="search" name="search" placeholder="Search FitBlog..." class="w-full  py-[5px] px-[6px] bg-transparent outline-none">
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
         
            <!--Mobile-responsive-->
            <div class="list_t md:hidden flex relative">
                <ul class="nav_v no-list-style transition-h-[0.5s] z-[999]" id="nav-links">
                    <li class="text-[#fefefe] border-b border-[#62879e4b] py-[1.2rem] px-[1rem] hover:bg-[#6a7f8d28]">
                        <i class="fa-regular fa-newspaper mr-[0.5rem]"></i>
                        <a class="no-underline text-[#fefefe] text-[15px]" href="{% url "news-page" %}">News</a>
                    </li>
                    <li class="text-[#fefefe] border-b border-[#62879e4b] py-[1.2rem] px-[1rem] hover:bg-[#6a7f8d28]">
                        <i class="fa-solid fa-cart-shopping mr-[0.5rem]"></i>
                        <a class="no-underline text-[#fefefe] text-[15px]" href="{% url "business-page" %}">Market Store</a>
                    </li>
                    <li class="text-[#fefefe] border-b border-[#62879e4b] py-[1.2rem] px-[1rem] hover:bg-[#6a7f8d28]">
                        <i class="fa-solid fa-music mr-[0.5rem]"></i>
                        <a class="no-underline text-[#fefefe] text-[15px]" href="{% url "music-page" %}">Music</a>
                    </li>
                </ul>
            </div>  
        {% endif %}      
        </nav>

         <!-- profile-Modal -->
         <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-lg-down">
            <div class="modal-content">
                <div class="flex justify-end p-[1.5rem]">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="flex items-center gap-[1.5rem]">
                        <div class="">
                            {% if user.profilemodel.image %}
                                <img class="w-[50px] h-[50px] rounded-[50%] object-cover object-center mr-[10px]" src=" {{ user.profilemodel.image.url }} " alt="Profile Image">
                            {% else %}
                                <img class="w-[50px] h-[50px] rounded-[50%] object-cover object-center mr-[10px]" src="{% static "images/default.png" %} " alt="Default Profile Image">
                            {% endif %}
                        </div>
                        <div class="">
                            <h2 class="text-[1.4rem] m-0 p-0 text-[#444444] font-bold">{{ user.profilemodel.full_name }}</h2>
                            <small class='text-[0.8rem] text-[#555555]'>@{{ user.username }}</small>
                        </div>
                        </div>
                        <div class="mt-[2rem]">
                            <div class="">
                                <a href="{% url "profile" user.username user.id %}" class="flex items-center gap-[2rem] text-[#555555] no-underline text-nowrap p-[1rem] hover:bg-[#ebebeb]">
                                   <p> <i class="fa-solid fa-gear "></i></p>
                                    <p class="">Manage account</p>
                                </a>
                            </div>
                            <div class="">
                                <a href="{% url "user-dashboard" %}" class='flex gap-[2rem] items-center p-[1rem] no-underline text-nowrap text-[#555555] hover:bg-[#ebebeb]'>
                                    <p> <i class="fa-solid fa-circle-user"></i></p>
                                    <p class="">Dashboard</p>
                                </a>
                            </div>
                            <div class="">
                                <a href="#!" class='flex gap-[2rem] items-center p-[1rem] text-[#555555] no-underline text-nowrap hover:bg-[#ebebeb]'>
                                    <p><i class="fa-solid fa-user-pen"></i></p>
                                    <p class="">Reviews</p>
                                </a>
                            </div>
                            <div class="">
                                <a href="#!" class='flex gap-[2rem] items-center p-[1rem] text-[#555555] no-underline text-nowrap hover:bg-[#ebebeb]'>
                                    <p><i class="fa-regular fa-heart"></i></p>
                                    <p class="">Saved</p>
                                </a>
                            </div>
                            <div class="">
                                <a href="{% url "logout" %}" class='flex gap-[2rem] text-[#555555] no-underline text-nowrap items-center p-[1rem] hover:bg-[#ebebeb]'>
                                    <p><i class="fa-solid fa-arrow-right-from-bracket"></i></p>
                                    <p class="">Sign out</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
            </div>
        </div>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        <!--PWA-Mobile-View-->
     <div class="mobile-nav-wrapper">
        <div class="mobile-nav-container">
            <div class="flex items-center cursor-pointer">
                <a href="{% url "home" %}" class="no-underline gap-[0.5rem] flex items-center" style="text-decoration:none;display:flex;gap:3px;align-items:center;">
                    <img src="{% static 'images/rpl-logo-icon.svg' %}" height="44px" class="w-[30px] mb-[0.7rem]" style="width:30px;">
                    <h4 class=" text-[#444444] ">FitBlog</h4>
                </a>
            </div>
            <div class="mobile-search-wrapper">
                <div class="">
                    <div class="" id="openSearch">
                        <i class="fa-solid fa-magnifying-glass text-[13px] text-[#3b5361] cursor-pointer" ></i>
                    </div>
                </div>
                <div>
                    <i class="fa-solid fa-ellipsis-vertical text-[13px] text-[#3b5361] cursor-pointer" ></i>
                </div>
            </div>
            <form action="" method="get" class="mobile-form-wrapper bg-[#fefefe]" >
                <div class="mobile-input-search" id="mobileInput">
                    <p class="close-search mt-[1rem] mr-[0.5rem]" id="closeSearch"><i class="fa-solid fa-chevron-left text-[18px] text-[#3b5361] cursor-pointer" ></i></p>
                    <input type="search" name="search" placeholder="Search FitBlog..." class="w-full  py-[3px] px-[6px] bg-transparent outline-none">
                </div>
            </form>
        </div>
    </div>

    <div class="mobile-footer-wrapper">
        <div class="mobile-footer-container">
            <a href="{% url "home" %}" class="no-underline gap-[0.5rem] text-[#3b5361] flex items-center" style="text-decoration:none;display:flex;flex-direction:column;gap:3px;align-items:center;font-size:12px">
                <i class="fa fa-solid fa-home text-[14px] text-[#3b5361]"></i>
                Home
            </a>
            <a href="{% url "business-page" %}" class="no-underline gap-[0.5rem] text-[#3b5361] flex items-center" style="text-decoration:none;display:flex;flex-direction:column;gap:3px;align-items:center;font-size:12px">
                <i class="fa fa-solid fa-cart-shopping text-[14px] text-[#3b5361]"></i>
                Store
            </a>
            <div class="">
                <div id="mobile-list-trigger" class="mobile-list-dropup ">
                    <i class="fa fa-regular fa-plus border border-slate-500 rounded-full p-[0.8rem] text-[14px] text-[#3b5361]"></i>
                </div>

                <div class="mobile-list-items" id="mobile-list-item">
                    <div>
                        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-[#3b5361] text-[14px] hover:bg-slate-100 p-[1rem] no-underline flex items-center gap-[10px]">
                            <i class="fa-solid fa-plus-circle"></i>
                            News
                        </a>
                        <a href="{% url "business-page" %}" class="text-[#3b5361] text-[14px] hover:bg-slate-100 p-[1rem] no-underline flex items-center gap-[10px]">
                            <i class="fa-solid fa-plus-circle"></i>
                            Product
                        </a>
                        <a href="{% url "music-page" %}" class="border-t border-slate-300 text-[#3b5361] hover:bg-slate-100 text-[14px] p-[1rem] no-underline flex items-center gap-[10px]">
                            <i class="fa-solid fa-music"></i>
                            Music
                        </a>
                    </div>
                </div>
           </div>
            <a href="{% url "news-page" %}" class="no-underline text-[#3b5361] gap-[0.5rem] flex items-center" style="text-decoration:none;display:flex;flex-direction:column;gap:3px;align-items:center;font-size:12px">
                <i class="fa fa-regular fa-newspaper text-[14px] text-[#3b5361]"></i>
                News
            </a>
            <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" class="flex items-center text-[#3D5361] rounded-full  bg-[#ffffff9f] text-[13px] font-semibold hover:text-[#3D5261] no-underline text-nowrap transition-all ">
                {% if user.profilemodel.image %}
                    <img class="nav_img_profile w-[30px] h-[30px] rounded-[50%] object-cover object-center " src=" {{ user.profilemodel.image.url }} " alt="Profile Image">
                {% else %}
                    <img class="w-[30px] h-[30px] rounded-[50%] object-cover object-center " src="{% static "images/default.png" %} " alt="Default Profile Image">
                {% endif %}
            </a>
        </div>
    </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 " id="exampleModalLabel">Create your Post <i class="fa-brands fa-blogger-b ml-[10px] mt-[3px]"></i></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
                </div>
                <div class="modal-body mb-[2rem]">
                    <div class=" bg-[#ffffff8e] ">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ user_post_form|crispy }}
                            <input type="submit" value="Post" class="py-[8px] px-[18px] mt-[2rem] rounded-full text-[#fefefefe] bg-[#3D5361] w-full ">
                            <input type="button" data-bs-dismiss="modal" value="Cancel" class="py-[8px] px-[18px] my-[1rem] rounded-full text-[#3b5361] border border-slate-400 w-full ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}