{% extends "base.html" %}
    {% load static %}
    {% block nav %}
        <nav class=" py-[10px] px-[20px] nav-container ">
            <div class=" w-full flex items-center justify-between py-[10px]  _nav_container">
                <div class="flex items-center cursor-pointer">
                    <a href="{% url "home" %}" class="navbar-brand flex items-center">
                        <a href="{% url "home" %}" class="navbar-brand flex items-center">
                            <img src="{% static 'images/rpl-logo@4x.png' %}" height="64px" class="pr-2 h-8 ">
                            <h4 class=" text-[#444444] ">FitBlog</h4>
                        </a>
                </div>

                <div class="flex items-center gap-[20px]">
                    <div class="flex gap-[20px] items-center search-wrap">
                        <div class="flex gap-[15px]">
                            <a href="" class=""><i class="fa-brands fa-youtube fa-xl" style='color: #Ff0000'></i></a>
                            <a href="" class=""><i class="fa-brands fa-facebook fa-xl" style='color: #00008B'></i></a>
                            <a href="" class=""><i class="fa-brands fa-twitter fa-xl" ></i></a>
                        </div>
                        <form action="" method="get">
                            <div class="flex items-center w-[250px] bg-gray-50 border border-gray-300 px-4 rounded-full shadow-md">
                                <i class="fa-solid fa-magnifying-glass fa-lg text-gray-300 cursor-pointer"></i>
                                <input type="search" name="search" placeholder="Search FitBlog..." class="w-full  py-[5px] px-[3px] bg-transparent outline-none">
                            </div>
                        </form>
                    </div>
                    <div class="">
                        {% if user.is_authenticated %}
                            <div class="flex items-center ">
                                <div class="flex items-center gap-[10px]">
                                    <div class="flex items-center">
                                        <a href="{% url "profile" user.username user.id %}" class="flex items-center text-[#3D5361] rounded-full py-[6px] px-[18px] bg-[#ffffff9f] text-[13px] font-semibold hover:text-[#3D5261] __nav_text_style transition">
                                            {% if user.profilemodel.image %}
                                            <img class="w-[30px] h-[30px] rounded-[50%] object-cover object-center mr-[10px]" src=" {{ user.profilemodel.image.url }} " alt="Profile Image">
                                            {% else %}
                                                <img class="w-[30px] h-[30px] rounded-[50%] object-cover object-center mr-[10px]" src=" {% static "images/default.png" %} " alt="Default Profile Image">
                                            {% endif %}
                                            My Profile
                                        </a>
                                    </div>
                                    <a href="{% url "logout" %}" class="rounded-full py-[6px] px-[18px] text-[#fefefefe] bg-[#3D5361] text-[13px] font-semibold hover:text-[#fcfcfcfc] __nav_text_style transition">
                                        <i class="fa-solid fa-right-from-bracket mr-[3px]"></i>
                                        Logout
                                    </a>
                                </div>
                            </div>
                    
                        {% else %}
 
                            <div class="flex justify-between items-center gap-5 w-full">
                                <div class="flex items-center gap-[25px]">
                                    <a href="{% url "sign_up" %}" class=" rounded-full py-[6px] px-[18px] text-[13px] font-semibold text-[#3D5361] __nav_text_style transition">
                                        <i class="fa-solid fa-right-from-bracket mr-[3px]"></i>
                                        Sign up
                                    </a>
                                    <a href="{% url "login" %}" class="rounded-full py-[6px] px-[18px] text-[#fefefefe] bg-[#3D5361] text-[13px] font-semibold __nav_text_style transition">
                                        <i class="fa-solid fa-right-from-bracket mr-[3px]"></i>
                                        Login
                                    </a>
                                </div>
                            </div>
                                        
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="_nav_container">
                <div class="flex justify-between items-center">
                        {% if user.is_authenticated %}
                            <div class="flex items-center gap-[10px]">
                                <p class="font-semibold text-[13px] text-nowrap bg-[#fff] py-[2px] rounded-full text-[#6d6d6d]"> Welcome <small class="font-semibold text-[13px] capitalize text-[#154d8b]"> {{ user.profilemodel.full_name }} </small></p>
                                <button type="button" class="text-[#fefefefe] text-nowrap bg-[#3D5361] text-[13px] flex items-center text-[#fff] py-[5px] px-[15px] rounded-full mb-[15px]" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Create post
                                    <i class="fa-brands fa-blogger-b ml-[10px] mt-[3px]"></i>
                                </button>
                            </div>
                            <div>
                                <marquee direction="left" class="text-[#3D5361]">
                                    Welcome to fitblog!!! 
                                </marquee>
                            </div>
                            <p id="current-time" class="text-nowrap font-semibold text-[13px] bg-[#ffffffb4] px-[10px] py-[2px] rounded-full text-[#6d6d6d]"></p>
                        {% else %}
                            <p class="font-semibold text-[13px] bg-[#ffffffb4] px-[10px] text-nowrap py-[2px] rounded-full text-[#6d6d6d]">You are here:Home</p>
                            <p id="current-time" class=" text-nowrap font-semibold text-[13px] bg-[#ffffffb4] px-[10px] py-[2px] rounded-full text-[#6d6d6d]"></p> 
                        {% endif %}
                </div>
            </div>

            <div class="mobil_search_wrapper">
                <div class="menu_toggle" id="mobile_menu">
                    <span class="m_bar"></span>
                    <span class="m_bar"></span>
                    <span class="m_bar"></span>
                </div>
                {% if user.is_authenticated %}
                    <div class="flex gap-[20px] items-center ">
                        <form action="" method="get" class="_form_search">
                            <div class="flex items-center w-[100%] bg-slate-50 border-[1px] border-[#3d53618a] px-4 rounded-full shadow-md">
                                <i class="fa-solid fa-magnifying-glass fa-lg text-[#3D5361] cursor-pointer"></i>
                                <input type="search" name="search" placeholder="Search FitBlog..." class="w-full   py-[5px] px-[3px] bg-transparent outline-none">
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>

            <div class="__nav-links _nav_container">
                <ul class="nav nav-pills nav-fill __nav_links_ul">
                    <li class="nav-item bg-[#666666]">
                        <a class="nav-link __nav_text" href="{% url "news-page" %}">News</a>
                    </li>
                    <li class="nav-item bg-[#444444]">
                        <a class="nav-link __nav_text" href="{% url "sports-page" %}">Sports & Entertainment</a>
                    </li>
                    <li class="nav-item bg-[#3D5361]">
                        <a class="nav-link __nav_text" href="{% url "business-page" %}">Business</a>
                    </li>
                    <li class="nav-item bg-[#521818] text-[#3D5361]">
                        <a class="nav-link __nav_text " href="{% url "music-page" %}">Music</a>
                    </li>
                    <li class="nav-item bg-[#3D5361]">
                        <a class="nav-link __nav_text" href="{% url "africa-page" %}">Africa</a>
                    </li>
                    <li class="nav-item bg-[#444444]">
                        <a class="nav-link __nav_text" href="{% url "ghanaweb-page" %}">GhanaWeb Tv</a>
                    </li>
                    <li class="nav-item bg-[#666666]">
                        <a class="nav-link __nav_text" href="{% url "opinions-page" %}">Opinions</a>
                    </li>
                </ul>
            </div>  
 

              <!--Mobile-responsive-->
              <div class="list_t">
                <ul class="nav_v no-search" id="nav-links">
                    <li class="color-active">
                        <a class="navv-link" href="{% url "news-page" %}">News</a>
                    </li>
                    <li class="">
                        <a class="navv-link" href="{% url "sports-page" %}">Sports & Entertainment</a>
                    </li>
                    <li class="">
                        <a class="navv-link" href="{% url "business-page" %}">Business</a>
                    </li>
                    <li class="">
                        <a class="navv-link" href="{% url "music-page" %}">Music</a>
                    </li>
                    <li class="">
                        <a class="navv-link" href="{% url "africa-page" %}">Africa</a>
                    </li>
                    <li class="">
                        <a class="navv-link" href="{% url "ghanaweb-page" %}">GhanaWeb Tv</a>
                    </li>
                    <li class="">
                        <a class="navv-link" href="{% url "opinions-page" %}">Opinions</a>
                    </li>
                </ul>
            </div>  
        </nav>

    {% endblock %}