{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Dashboard{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}

    <div class=" px-[0.5rem] md:px-0  w-[100%] md:w-[80%] m-auto">
        <div class="md:mb-[20px] mb-[80px]">
            <div class="row gap-0 w-full flex justify-between h-full ">
                <div class="col-md-12">
                    <div class="card text-bg-light my-[20px] p-[20px]">
                        <div class="alert alert-danger ">
                            Are you sure you want to delete <small class="font-bold text-[18px] text-rose-500 capitalize">{{ articles.title }}?</small> it will be permanently removed.
                            This action cannot be undone.
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="flex gap-[10px] justify-end items-end __delet_btn_wrapper">
                                <button class="md:w-[40%] w-[100%] text-[#fefefefe] bg-[#3D5361] rounded-full py-[10px] px-[5rem]">
                                    <a href="{% url "user-dashboard" %}" class="text-[#fefefe] no-underline capitalize">cancel</a>
                                </button>
                                <button type="submit" class="md:w-[40%] w-[100%] text-[#fefefefe] bg-[#FF0000] rounded-full py-[10px] px-[5rem]"> Yes, Delete</button>
                            </div>
                        </form>
                    </div> 
                </div>               
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}
{% endblock %}