{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Logout{% endblock  %}
{% block content %}
    <div class="flex justify-center items-center w-full h-[100%] ">
        <form method="post" action="{% url "home" %}" class="w-[600px] p-[30px] rounded shadow-md bg-slate-50 ">
            {% csrf_token %}
            <div class="">
                <h1 class="text-[28px] font-sans font-semibold my-[5px] text-center">Logout</h1>
            </div>
            <p class="text-center">Are you sure you want to logout?</p>
            <div class="flex gap-[10px] justify-center items-center w-[100%] md:flex-col-reverse mt-5">
                <button class="text-[#fefefefe] bg-[#3D5361] rounded-full py-[10px] px-[5rem]">
                    <a href="{% url "home" %}" class="text-[#fefefe] no-underline">cancel</a>
                </button>
                <button type="submit" class="text-[#fefefefe] bg-[#FF0000] rounded-full py-[10px] px-[5rem]">
                    <a href="{% url "home" %}" class="text-[#fefefe] text-nowrap font-bold no-underline capitalize">Yes, Logout</a> 
                </button>
            </div>
        </form>
    </div>
   

{% endblock  %}