{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Sign In{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    <div class="flex justify-center items-center w-full  mt-[12rem] mb-[4rem]">
        <div class="w-[65%] m-auto p-[30px] rounded shadow bg-slate-50 __profile-container">
            <div class="flex justify-center flex-col items-center">
                <h1 class="font-bold text-[25px] text-teal-500">Member Information</h1>
                <div class="w-[150px] h-[150px] ">
                    <img src="{{ user.profilemodel.image.url }}" alt="profile.img" class="rounded-[50%] object-cover object-center">
                </div>
                <!-- Button trigger modal -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="my-[30px] text-teal-500 transition-all duration-200 hover:text-teal-600 py-[4px] px-[8px] text-[15px] ">Edit Profile<i class="fa-regular fa-pen-to-square fa-xl ml-[10px]"></i></button>
            </div>
            {% comment %} <hr class="my-[10px] h-[1px] bg-slate-50"> {% endcomment %}
           <div class="">
              <div class="flex items-center border-t border-[#e7e0e07e] py-[10px]">
                  <h3 class="text-[18px] basis-2/6">Firstname</h3>
                  <p class="mt-[10px] basis-3/5">{{ user.profilemodel.full_name }} </p>
              </div>
              <div class="flex items-center border-t border-[#e7e0e07e] py-[10px]">
                <h3 class="text-[18px] basis-2/6">Username</h3>
                <p class="mt-[10px] basis-3/5">{{ user.username }} </p>
              </div>
              <div class="flex items-center border-t border-[#e7e0e07e] py-[10px]">
                <h3 class="text-[18px] basis-2/6">Email address</h3>
                <p class="mt-[10px] basis-3/5">{{ user.email }} </p>
              </div>
              <div class="flex items-center border-t border-[#e7e0e07e] py-[10px]">
                <h3 class="text-[18px] basis-2/6">Talks About</h3>
                <p class="mt-[10px] basis-3/5">{{ user.profilemodel.talks_about }} </p>
              </div>
              <div class="flex items-center border-t border-[#e7e0e07e] py-[10px]">
                <h3 class="text-[18px] basis-2/6">About me</h3>
                <p class="mt-[10px] basis-3/5">{{ user.profilemodel.about }} </p>
              </div>
           </div>
        </div>
    </div>

    

  <!-- Modal -->    
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Profile <i class="fa-regular fa-pen-to-square"></i></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="flex justify-center flex-col items-center w-full p-[10px] gap-[25px]">
              <div class="w-[250px]">
                  <img src="{{ user.profilemodel.image.url }}" alt="profile.png" class="rounded-[50%] w-[250px] h-[250px] object-cover object-center">
              </div>
              <div class="w-[100%]">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ u_form|crispy }}
                    {{ p_form|crispy }}

                    <div class="modal-footer ">
                      <div class="flex justify-center items-center w-full gap-[20px]">
                        <button type="button" class="px-[50px] py-[12px] rounded bg-[#c2bfbf]" data-bs-dismiss="modal">cancel</button>
                          <button type="submit" class="bg-blue-500 px-[50px] py-[12px] rounded text-[#fff] text-[14px] font-medium">Save</button>
                      </div>
                    </div>
                   
                </form>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

{% endblock  %}
