{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}
Register
{% endblock  %}
{% block content %}
    <div class="flex justify-center items-center  w-full __form_container_sign_up">
        <form action="" method="post" class="__form_container p-[30px] rounded shadow bg-slate-50 ">
            <div class="">
                <h1 class="text-[28px] font-sans font-semibold my-[20px] text-center">Sign Up</h1>
            </div>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="rounded-[2rem] text-[#fff] bg-[#3D5361] px-[30px] py-[10px] w-full mt-[30px]">Sign Up</button>
            <p class="text-[12px] py-[20px] font-medium font-[poppins] text-center">Already have an account? <a href="{% url "login" %}" class="text-[#FF0000] opacity-75 hover:text-[#595454]">Sign In</a></p>
        </form>
    </div>
{% endblock  %}

