{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}{{post.title}}{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    <div class="w-full p-[15px] flex justify-between h-full bg-slate-100">
        <div class="container p-[20px]">
            <div class="bg-[#fff] p-[10px]">
                <div class="flex justify-between items-center">
                    <p class="font-medium"> Opinions of, <small class="font-semibold text-blue-500"> {{ articles.dated_on }} </small></p>
                    <p class="font-semibold">Columnist: <small class="font-medium text-blue-500 capitalize"> {{ user }} </small></p>
                </div>
                <div class="py-[20px]">
                    <h4 class=""> {{ articles.sub_title }} </h4>
                </div>
                <div class="row gap-0">
                    <div class="col-md-4">
                        <img src="{{articles.image.url}}" class="card-img-left" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="flex items-center gap-[10px]">
                                <p class="card-text"><small>{{articles.article_content}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>                 
            </div>                        
        </div>
    </div>
{% endblock %}